<!DOCTYPE html>
<html style="margin: 0; padding: 0;">
<!mvn spring-boot:run>
<head>
    <title>ProCycle</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;450;500;550;600;650;700;750;800;850;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(to right, lightgray 0, white 45% 55%, lightgray 100%);
            font-family: Montserrat, sans-serif;
            font-weight: 700;
            margin: 0px;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            padding: 0px;
            scrollbar-width: none;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        html, body {
            scrollbar-width: none;
        }

        html::-webkit-scrollbar, body::-webkit-scrollbar {
            display: none;
        }

        .legend-box {
            height: 60px; 
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden; 
            width: 100px; 
            padding: 10px; 
            margin: 5px; 
            text-align: center; 
            color: white; 
            border-radius: 10px;
        }

        #sidebar.no-transition {
            transition: none;
        }
        #sidebar {
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
            height: 610px; 
            width: 620px; 
            z-index: 100; 
            padding: 30px 30px; 
            flex-direction: column;
            gap: 10px; 
            background-color: white; 
            position: fixed; 
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            border-radius: 30px; 
            border: 4px solid black;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            transform: translate(-50%, -50%) translateY(30px);
            transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
        }

        #sidebar.active {
            pointer-events: auto;
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, -50%) translateY(0px);
        }

        #directionsPage::-webkit-scrollbar {
            display: none;
        }

        #directionsPage {
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); 
            overflow-y: overlay;
            scrollbar-width: none;
            height: 610px;
            width: 620px; 
            z-index: 100; 
            padding: 30px 30px; 
            flex-direction: column; 
            gap: 10px; 
            background-color: white; 
            position: fixed; 
            top: 50%; 
            left: 50%; 
            border-radius: 30px; 
            border: 4px solid black;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            transform: translate(-50%, -50%) translateY(30px);
            transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
        }

        #directionsPage.active {
            pointer-events: auto;
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, -50%) translateY(0px);
        }
    </style>
</head>
<body>
<div id="splashScreen" style="transition: opacity 0.3s ease-in; display: none; flex-direction: column; align-items: center; z-index: 100; padding-top: 125px; width: 100%; height: 100%; margin: auto; position: fixed; background: linear-gradient(white, lightgray); padding-top: -100px">
    <div style="Margin: 5px;">
        <h1 style="font-size: 70px; text-align: center; font-weight: 800; letter-spacing: 5px; display: inline; padding-right: 0px;"><span style="color: white; -webkit-text-stroke: 6px black; paint-order: stroke fill;">P</span><span style="color: white; -webkit-text-stroke: 6px black; paint-order: stroke fill;">R</span><span style="color: white; -webkit-text-stroke: 6px black; paint-order: stroke fill;">O</span></h1><h1 style="font-size: 70px; text-align: center; font-weight: 800; display: inline"><span style="color:#007bbf">C</span><span style="color: #da2430">Y</span><span style="color: #111012">C</span><span style="color:#ffed00">L</span><span style="color: #36a73e">E</span></h1>
    </div>
    <p style="margin: 0px; padding-bottom: 3px;font-weight: 550; font-size: 18px; font-family: Nunito, 'Times New Roman', serif;">Can you guess the Professional Cyclist?</p> 
    <p style="margin: 0px; padding-bottom: 25px; font-weight: 550; font-size: 18px; font-family: Nunito, 'Times New Roman', serif;">Test your knowledge.</p>    
    <button id="playButton" style="text-align: center; border-radius: 40px; height: 50px; font-size: 20px; font-weight: 600; color: white; background-color: black; padding-left: 50px; padding-right: 50px; cursor: pointer;">Play</button>
    <div style="margin-top: 30px; height: 50px; width: 100%; background: linear-gradient(to bottom, #007bbf 0% 20%, #da2430 20% 40%, #111012 40% 60%, #ffed00 60% 80%, #36a73e 80% 100%);"></div>
</div>
    <div style="height: 50px; width: 100%; background: linear-gradient(to bottom, #007bbf 0% 20%, #da2430 20% 40%, #111012 40% 60%, #ffed00 60% 80%, #36a73e 80% 100%);"></div>
<div style="flex-grow: 1">
    <div style="padding-top: 10px; display: flex; justify-content: space-between; align-items: center; width: 530px; margin: auto;">
        <div id="menubutton" style="display: inline; vertical-align: middle; width: 48px;">
            <button style="cursor: pointer; font-size: 40px; font-weight: 500; background: none; border: none; line-height: 1">☰</button>
        </div>
        <div style="text-align: center; display: inline; vertical-align: middle">
            <h1 style="font-size: 60px; text-align: center; font-weight: 800; letter-spacing: 5px; display: inline; padding-right: 0px;"><span style="color: white; -webkit-text-stroke: 6px black; paint-order: stroke fill;">P</span><span style="color: white; -webkit-text-stroke: 6px black; paint-order: stroke fill;">R</span><span style="color: white; -webkit-text-stroke: 6px black; paint-order: stroke fill;">O</span></h1><h1 style="font-size: 60px; text-align: center; font-weight: 800; display: inline"><span style="color:#007bbf">C</span><span style="color: #da2430">Y</span><span style="color: #111012">C</span><span style="color:#ffed00">L</span><span style="color: #36a73e">E</span></h1>
        </div>
        <div id="directionsbutton" style=" display: inline; vertical-align: middle; width: 48px;">
            <button style="border-radius: 20px; background-color: black; color: white; cursor: pointer; font-size: 30px; font-weight: 500; height: 40px; width: 40px; padding-left: 10px; padding-right: 10px;">?</button>
        </div>
    </div>
    <hr style="width: 530px; border: 1px solid gray; margin: auto;">

    <div id="sidebar">
        <button id="closebutton" style="background: none; border: none; cursor: pointer; font-size: 30px; font-weight: 600; position: fixed; top: 5px; Right: 10px;">&#x2715;</button>
        <div>
            <form action="/reveal" method="post" th:if="${won == null and guessHistory != null and revealed == null and guessMode == 'Limited' and (guessHistory.size() == null or guessHistory.size() < 10)}" style="display: inline;">
                <button style="border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; background-color: white; padding-left: 15px; padding-right: 15px; cursor: pointer;" onclick="sessionStorage.removeItem('menuOpen');">Reveal Answer</button>
            </form>
            <form action="/reveal" method="post" th:if="${won == null and guessHistory != null and revealed == null and guessMode == 'Infinite'}" style="display: inline;">
                <button style="border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; background-color: white; padding-left: 15px; padding-right: 15px; cursor: pointer;" onclick="sessionStorage.removeItem('menuOpen');">Reveal Answer</button>
            </form>
            <form th:if="${mode == 'Daily'}" action="/Unlimited" method="post" style="display: inline;">
                <button style="border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; background-color: white; padding-left: 15px; padding-right: 15px; cursor: pointer;" onclick="sessionStorage.removeItem('menuOpen');">Play Unlimited</button>
            </form>
            <form th:if="${mode == 'Unlimited'}" action="/daily" method="post" style="display: inline;">
                <button style="border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; background-color: white; padding-left: 15px; padding-right: 15px; cursor: pointer;" onclick="sessionStorage.removeItem('menuOpen');">Play The Daily</button>
            </form>
        </div>
        <p th:if="${mode == 'Unlimited'}" style="font-size: 20px; font-weight: 600; padding: 0px; margin: 0px;">Play Settings</p>
        <div>
            <p th:if="${mode == 'Unlimited'}" style="display: inline; padding-right: 15px;">Difficulty:</p>
            <form th:if="${mode == 'Unlimited'}" action="/Noob" method="post" style="display: inline;" onclick="sessionStorage.setItem('menuOpen', 'true');">
                <button th:style="'border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; background-color: ' + (${difficulty == 'Noob'} ? '#36a73e' : 'white')">Noob</button>
            </form>
            <form th:if="${mode == 'Unlimited'}" action="/Easy" method="post" style="display: inline;" onclick="sessionStorage.setItem('menuOpen', 'true');">
                <button th:style="'border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; background-color: ' + (${difficulty == 'Easy'} ? '#ffed00' : 'white')">Easy</button>
            </form>
            <form th:if="${mode == 'Unlimited'}" action="/Medium" method="post" style="display: inline;" onclick="sessionStorage.setItem('menuOpen', 'true');">
                <button th:style="'border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; background-color: ' + (${difficulty == 'Medium'} ? '#007bbf' : 'white')">Medium</button>
            </form>
            <form th:if="${mode == 'Unlimited'}" action="/Hard" method="post" style="display: inline;" onclick="sessionStorage.setItem('menuOpen', 'true');">
                <button th:style="'border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; background-color: ' + (${difficulty == 'Hard'} ? '#da2430' : 'white')">Hard</button>
            </form>
        </div>
        <div>
            <p th:if="${mode == 'Unlimited'}" style="display: inline; padding-right: 15px;">Gender:</p>
            <form th:if="${mode == 'Unlimited'}" action="/Both" method="post" style="display: inline;" onclick="sessionStorage.setItem('menuOpen', 'true');">
                <button th:style="'border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; background-color: ' + (${genderMode == 'Both'} ? '#36a73e' : 'white')">Both</button>
            </form>
            <form th:if="${mode == 'Unlimited'}" action="/Men" method="post" style="display: inline;" onclick="sessionStorage.setItem('menuOpen', 'true');">
                <button th:style="'border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; background-color: ' + (${genderMode == 'Men'} ? '#36a73e' : 'white')">Men</button>
            </form>
            <form th:if="${mode == 'Unlimited'}" action="/Women" method="post" style="display: inline;" onclick="sessionStorage.setItem('menuOpen', 'true');">
                <button th:style="'border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; background-color: ' + (${genderMode == 'Women'} ? '#36a73e' : 'white')">Women</button>
            </form>
        </div>
         <div>
            <p th:if="${mode == 'Unlimited'}" style="display: inline; padding-right: 15px;">Guesses:</p>
            <form th:if="${mode == 'Unlimited'}" action="/Limited" method="post" style="display: inline;" onclick="sessionStorage.setItem('menuOpen', 'true');">
                <button th:style="'border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; background-color: ' + (${guessMode == 'Limited'} ? '#36a73e' : 'white')">Ten</button>
            </form>
            <form th:if="${mode == 'Unlimited'}" action="/Infinite" method="post" style="display: inline;" onclick="sessionStorage.setItem('menuOpen', 'true');">
                <button th:style="'border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; background-color: ' + (${guessMode == 'Infinite'} ? '#36a73e' : 'white')">Infinite</button>
            </form>
        </div>
        <form action="/daily" method="post">
            <button style="width: fit-content; border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; background-color: white; padding-left: 15px; padding-right: 15px; cursor: pointer;" onclick="sessionStorage.removeItem('hasPlayed'); location.reload(); sessionStorage.removeItem('menuOpen');">Home</button>
        </form>
    </div>

    <div id="overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2); z-index: 50;"></div>

    <div id="directionsPage">
        <button id="close2button" style="background: none; border: none; cursor: pointer; font-size: 30px; font-weight: 600; position: fixed; top: 5px; Right: 10px;">&#x2715;</button>
        <button id="howtoplaybutton" style="border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; background-color: white; padding-left: 15px; padding-right: 15px; cursor: pointer;">How to Play</button>
        <button id="attributesbutton" style="border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; background-color: white; padding-left: 15px; padding-right: 15px; cursor: pointer;">Attributes Explination</button>
        <div id="page1" style="display: block;">
            <h1 style="text-align: center; font-weight: 600px; margin: 0px; padding-bottom: 20px; padding-top: 20px; font-size: 50px;">How To Play</h1>
            <div style="margin: 0px; padding-bottom: 20px; text-align: center;"><h2 style="text-align: center; font-weight: 600px; display: inline;">Your Goal:</h2><h2 style="text-align: center; font-weight: 500; display: inline;"> Guess the Unkown Pro Cyclist.</h2></div>
            <div style="padding-bottom: 20px;">
                <span style="display: inline-flex; align-items: center; justify-content: center;width: 50px; height: 50px; border-radius: 50%; border: 2px solid black; background-color: black; color: white; font-size: 25px;">1</span><h2 style="font-size: 20px; display: inline; padding-left: 15px; font-weight: 500;">Search for a cyclist to make your first guess.</h2> 
            </div>
            <div style="padding-bottom: 20px;">
                <span style="display: inline-flex; align-items: center; justify-content: center;width: 50px; height: 50px; border-radius: 50%; border: 2px solid black; background-color: black; color: white; font-size: 25px;">2</span><h2 style="font-size: 20px; display: inline; padding-left: 15px; font-weight: 500;">Narrow down the peleton with each guess.</h2>
            </div>
            <div style="padding-bottom: 20px;">
                <span style="display: inline-flex; align-items: center; justify-content: center; width: 50px; height: 50px; border-radius: 50%; border: 2px solid black; background-color: black; color: white; font-size: 25px;">3</span><h2 style="font-size: 20px; display: inline; padding-left: 15px; font-weight: 500;">Piece together the clues until you guess the cyclist.</h2>
            </div>
        </div>
        <div id="page2" style="display: none;">
            <div style="text-align: center;">
                <h1 style="font-weight: 600px; margin: 0px; padding-top: 20px; font-size: 50px;">Attributes</h1>
                <p style="font-weight: 600; font-size: 20px">All cyclist statistics from procyclingstats.com.</p>
                <p style="font-weight: 500; color: gray;">A big thanks to procyclingstats for making this game possible through the statistics on their website.</p>
                <p style="font-weight: 600; font-size: 20px;">All attributes acurate as of the start of the 2026 season and should be updated anually.</p>
            </div>
            <hr style="width: 620px; border: 1px solid lightgray; margin: auto;">
            <h2 style="padding-top: 15px; margin: 0px; padding-bottom: 10px;">Pro Debut</h2>
                <p style="color: gray; font-weight: 500; padding-top: 0px; margin-top: 0px;">The year of the cyclists firsts season on a UCI World Tour or UCI ProTeam.</p>
                <div style="display: flex; padding-bottom: 15px;">
                    <div class="legend-box" style="background-color: black;">
                        <p>Incorrect</p>
                    </div>
                    <div class="legend-box" style="background-color: #F0C040;">
                        <p>Within 3 years</p>
                    </div>
                    <div class="legend-box" style="background-color: green;">
                        <p>Correct</p>
                    </div>
                </div>
            <hr style="width: 620px; border: 1px solid lightgray; margin: auto;">
            <h2 style="padding-top: 15px; margin: 0px; padding-bottom: 10px;">Team</h2>
                <p style="color: gray; font-weight: 500; padding-top: 0px; margin-top: 0px;">The cyclist's most recent Team. This could be any UCI World Tour team or a few UCI ProTeam mentioned below. If instead the cyclist is retired it will say as much.</p>
                <div style="display: flex; padding-bottom: 15px;">
                    <div class="legend-box" style="background-color: black;">
                        <p>Incorrect</p>
                    </div>
                    <div class="legend-box" style="background-color: green;">
                        <p>Correct</p>
                    </div>
                </div>
            <hr style="width: 620px; border: 1px solid lightgray; margin: auto;">
            <h2 style="padding-top: 15px; margin: 0px; padding-bottom: 10px;">Wins</h2>
                <p style="color: gray; font-weight: 500; padding-top: 0px; margin-top: 0px;">How many pofessional wins the cyclist has achieved. A professional win is a win on UCI .1 level or higher.</p>
                <div style="display: flex; padding-bottom: 15px;">
                    <div class="legend-box" style="background-color: black;">
                        <p>Incorrect</p>
                    </div>
                    <div class="legend-box" style="background-color: #F0C040;">
                        <p>Within 5 wins</p>
                    </div>
                    <div class="legend-box" style="background-color: green;">
                        <p>Correct</p>
                    </div>
                </div>
            <hr style="width: 620px; border: 1px solid lightgray; margin: auto;">
            <h2 style="padding-top: 15px; margin: 0px; padding-bottom: 10px;">Gender</h2>
                <p style="color: gray; font-weight: 500; padding-top: 0px; margin-top: 0px;">The cyclists gender.</p>
                <div style="display: flex; padding-bottom: 15px;">
                    <div class="legend-box" style="background-color: black;">
                        <p>Incorrect</p>
                    </div>
                    <div class="legend-box" style="background-color: green;">
                        <p>Correct</p>
                    </div>
                </div>
            <hr style="width: 620px; border: 1px solid lightgray; margin: auto;">
            <h2 style="padding-top: 15px; margin: 0px; padding-bottom: 10px;">Specialty</h2>
                <p style="color: gray; font-weight: 500; padding-top: 0px; margin-top: 0px;">The cyclists specialty. There are 6 specialties assigned by Pro Cycling Stats: Oneday races, GC, Time Trial, Sprint, and Hills.</p>
                <div style="display: flex; padding-bottom: 15px;">
                    <div class="legend-box" style="background-color: black;">
                        <p>Incorrect</p>
                    </div>
                    <div class="legend-box" style="background-color: green;">
                        <p>Correct</p>
                    </div>
                </div>
            <hr style="width: 620px; border: 1px solid lightgray; margin: auto;">
            <h2 style="padding-top: 15px; margin: 0px; padding-bottom: 10px;">Nationality</h2>
                <p style="color: gray; font-weight: 500; padding-top: 0px; margin-top: 0px;">The cyclists nationality.</p>
                <div style="display: flex;">
                    <div class="legend-box" style="background-color: black;">
                        <p>Incorrect</p>
                    </div>
                    <div class="legend-box" style="background-color: #F0C040;">
                        <p>Same continent</p>
                    </div>
                    <div class="legend-box" style="background-color: green;">
                        <p>Correct</p>
                    </div>
                </div>
                <h3>if the cyclists nationality is european, then</h3>
                <div style="display: flex; padding-bottom: 15px;">
                    <div class="legend-box" style="background-color: black;">
                        <p>Incorrect</p>
                    </div>
                    <div class="legend-box" style="background-color: #F0C040;">
                        <p>Same region</p>
                    </div>
                    <div class="legend-box" style="background-color: green;">
                        <p>Correct</p>
                    </div>
                </div>
                <hr style="width: 620px; border: 1px solid lightgray; margin: auto;">
                <h2 style="padding-top: 10px;">Europe Regions</h2> 
                
                    <div style="padding-bottom: 10px;"><p style="display: inline;">Western Europe:</p><p style="color: gray; font-weight: 500; display: inline;"> Britain, Ireland, France, Belgium, Netherlands, Luxembourg, Monaco, Andorra</p></div>
                    <div style="padding-bottom: 10px;"><p style="display: inline;">Eastern Europe:</p><p style="color: gray; font-weight: 500; display: inline;"> Romania, Bulgaria, Moldova, Ukraine, Belarus, Russia</p></div>
                    <div style="padding-bottom: 10px;"><p style="display: inline;">Southern Europe:</p><p style="color: gray; font-weight: 500; display: inline;"> Spain, Portugal, Italy, San Marino, Malta, Greece, Cyprus, Albania, North Macedonia, Croatia, Bosnia and Herzegovina, Montenegro, Serbia, Kosovo, Andorra</p></div>
                    <div style="padding-bottom: 10px;"><p style="display: inline;">North Europe:</p><p style="color: gray; font-weight: 500; display: inline;"> Denmark, Norway, Sweden, Finland, Iceland, Estonia, Latvia, Lithuania</p></div>
                    <div style="padding-bottom: 20px;"><p style="display: inline;">Central Europe:</p><p style="color: gray; font-weight: 500; display: inline;"> Germany, Austria, Switzerland, Poland, Czech Republic, Slovakia, Hungary, Liechtenstein, Slovenia</p></div>
                
                <hr style="width: 620px; border: 1px solid lightgray; margin: auto;">
                <h2 style="padding-top: 10px;">Which proffesional cyclists are in the game?</h2>
                <p style="font-weight: 600; font-size: 20px;">The complete list of cyclists includes:</p>
                <p style="font-weight: 500; padding-left: 30px; color: gray;">● Every cyclists from all 18 mens UCI World Tour teams and all 14 womens UCI World Tour teams.</p>
                <p style="font-weight: 500; padding-left: 30px; color: gray;">● Every cyclists from the following mens UCI ProTeams: Tudor Pro Cycling, Cofidis, Pinarello Q36.5 Pro Cycling, and Unibet Rose Rockets.</p>
                <p style="font-weight: 500; padding-left: 30px; color: gray;">● Significant pro cyclists who retired after 2020.</p>
                <p style="font-weight: 500; padding-left: 30px; color: gray;">● A few additions on UCI ProTeams that were not included: Jesús Herrada, Fernando Gaviria, Iván Ramiro Sosa, Yukiya Arashiro, Anthony Turgis, Allison Jackson, and Chris Froome (Not retired but not on a team).</p>
                <p style="font-weight: 600;">The Daily ProCycle will reset to the full list at the start of ever month.</p>

        </div>
    </div>

    <h2 th:if="${mode == 'Daily'}" style=" padding-top: 20px; padding-bottom: 5px; margin: 0px; text-align: center; font-weight: 650; font-Size: 20px">Welcome to The Daily PROCYCLE</h2>
    <h2 th:if="${mode == 'Unlimited'}" style=" padding-top: 20px; padding-bottom: 5px; margin: 0px; text-align: center; font-weight: 650; font-Size: 20px;">Welcome to Unlimited PROCYCLE</h2>

    <div style="text-align: center; padding-bottom: 15px; padding-top: 10px;">
        <form th:if="${mode == 'Unlimited'}" action="/Noob" method="post" style="display: inline;">
            <button th:style="'border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; background-color: ' + (${difficulty == 'Noob'} ? '#36a73e' : 'white')">Noob</button>
        </form>
        <form th:if="${mode == 'Unlimited'}" action="/Easy" method="post" style="display: inline;">
            <button th:style="'border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; background-color: ' + (${difficulty == 'Easy'} ? '#ffed00' : 'white')">Easy</button>
        </form>
        <form th:if="${mode == 'Unlimited'}" action="/Medium" method="post" style="display: inline;">
            <button th:style="'border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; background-color: ' + (${difficulty == 'Medium'} ? '#007bbf' : 'white')">Medium</button>
        </form>
        <form th:if="${mode == 'Unlimited'}" action="/Hard" method="post" style="display: inline;">
            <button th:style="'border-radius: 20px; height: 30px; font-size: 15px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; background-color: ' + (${difficulty == 'Hard'} ? '#da2430' : 'white')">Hard</button>
        </form>
    </div>

    <form action="/guess" method="post" style="text-align: center; margin: 0px;" th:if="${won == null and revealed == null and (guessMode == 'Infinite' or guessHistory == null or guessHistory.size() < 10)}">
        <div style="position: relative; display: inline-block;">
            <input type="text" name="guess" id="guessInput" placeholder="Type a Cyclist..." autocomplete="off" style="border-radius: 20px; height: 40px; font-size: 15px; font-weight: 600; background-color: black; color: white; font-family: Montserrat, sans-serif; padding-left: 15px; box-sizing: border-box; vertical-align: middle; cursor: pointer;"/>
            <div id="suggestions" style="position: absolute; background-color: white; width: 300px; left: 50%; transform: translateX(-50%); z-index: 10; max-height: 200px; overflow-y: auto;"></div>
        </div>
        <button style="border-radius: 20px; height: 40px; font-size: 17px; font-weight: 600; color: white; background-color: green; vertical-align: middle; box-sizing: border-box; padding-left: 15px; padding-right: 15px; cursor: pointer;">Guess</button>
    </form>

    <p th:if="${(guessHistory == null or guessHistory.size() < 10) and guessMode == 'Limited' and won != true and revealed == null}" th:text="'Guess ' + (${guessHistory != null} ? ${guessHistory.size() + 1} : 1) + ' of 10'" style="font-size: 12px; text-align: center; margin: 0px; padding-top: 8px; color: gray"></p>
    
    <div th:if="${mode == 'Daily' and guessHistory == null}" style="text-align: center;">
        <p style="margin: 0px; padding-top: 25px; font-weight: 550; font-size: 15px; font-family: Nunito, 'Times New Roman', serif;">Guess the cyclist of the day.</p>
        <p style="margin: 0px; padding-top: 20px; padding-bottom: 15px; font-weight: 550; font-size: 15px; font-family: Nunito, 'Times New Roman', serif;">Search for a cyclist to make your first.</p>
    </div>
    
    <p th:if="${error}" th:text="${error}" style="color: red; text-align: center;"></p>

    <div th:if="${guessHistory}">
        <div th:if="${won}">
            <h3 style="font-size: 25px;text-align: center; margin-bottom: 5px; margin-top: 0px; font-weight: 800; color: green">YOU WON!</h3>
            <p th:if="${guessHistory != null}" th:text="'Guesses: ' + ${guessHistory.size()}" style="text-align: center; font-size: 20px; margin-top: 0px; font-weight: 750;"></p>
            <div style="text-align: center;">
                <form action="/Unlimited" method="post">
                    <button style="border-radius: 20px; height: 40px; font-size: 20px; font-weight: 600; color: white; background-color: black; padding-left: 20px; padding-right: 20px; cursor: pointer;">Play Unlimited</button>
                </form>
            </div>
        </div>
        <div th:if="${revealed}" style="text-align: center;">
            <h3 style="font-size: 25px;text-align: center; margin-bottom: 5px; margin-top: 0px; font-weight: 800; color: red; padding-bottom: 10px;">You lost.</h3>
            <form action="/Unlimited" method="post">
                    <button style="border-radius: 20px; height: 40px; font-size: 20px; font-weight: 600; color: white; padding-left: 20px; padding-right: 20px; cursor: pointer; background-color: Black">Play Unlimited</button>
            </form>
            <div style="display: flex; flex-wrap: wrap; justify-content: center; width: 600px; margin: auto; margin-top: 0px; margin-bottom: 20px;">
                <p th:text="${revealedCyclist.name}" style="font-size: 35px; font-weight: 700; color: black; margin-bottom: 25px; width: 100%; text-align: center;">Name</p>
                <div style="background-color: green; width: 150px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;"> 
                    <p style="font-weight: 600;">Pro Debut</p>
                    <p th:text="${revealedCyclist.debut}" style="font-size: 20px;"></p>
                </div>
                <div style="background-color: green; width: 150px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;">
                    <p style="font-weight: 600;">Team</p>
                    <p th:text="${revealedCyclist.team}" style="font-size: 20px;"></p>
                </div>
                <div style="background-color: green; width: 150px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;">
                    <p style="font-weight: 600;">Professional Wins</p>
                    <p th:text="${revealedCyclist.wins}" style="font-size: 20px;"></p>
                </div>
                <div style="background-color: green; width: 150px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;">
                    <p style="font-weight: 600;">Gender</p>
                    <p th:text="${revealedCyclist.gender}" style="font-size: 20px;"></p>
                </div>
                <div style="background-color: green; width: 150px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;">
                    <p style="font-weight: 600;">Specialty</p>
                    <p th:text="${revealedCyclist.specialty}" style="font-size: 20px;"></p>
                </div>
                <div style="background-color: green; width: 150px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;">
                    <p style="font-weight: 600;">Nationality</p>
                    <p th:text="${revealedCyclist.nationality}" style="font-size: 20px;"></p>
                </div>
            </div>
        </div>

        <div th:each="guess : ${guessHistory}" style="display: flex; flex-wrap: wrap; justify-content: center; width: 600px; margin: auto; margin-top: 0px; margin-bottom: 20px;">
            <p th:text="${guess.guessedCyclist.name}" style="font-size: 35px; font-weight: 700; color: black; margin-bottom: 25px; width: 100%; text-align: center;">Name</p>
            <div th:style="'background-color: ' + ${guess.colors[0]} + '; width: 150px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;'"> 
                <p style="font-weight: 600;">Pro Debut</p>
                <p>
                    <span th:text="${guess.guessedCyclist.debut}" style="font-size: 20px;"></span>
                    <span th:text="${guess.arrows[0]}" style="font-size: 20px;"></span>
                </p>
            </div>

            <div th:style="'background-color: ' + ${guess.colors[1]} + '; width: 150px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;'">
                <p style="font-weight: 600;">Team</p>
                <p th:text="${guess.guessedCyclist.team}" style="font-size: 20px;"></p>
            </div>

            <div th:style="'background-color: ' + ${guess.colors[2]} + '; width: 150px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;'">
                <p style="font-weight: 600;">Professional Wins</p>
                <p>
                    <span th:text="${guess.guessedCyclist.wins}" style="font-size: 20px;"></span>
                    <span th:text="${guess.arrows[1]}" style="font-size: 20px;"></span>
                </p>
            </div>

            <div th:style="'background-color: ' + ${guess.colors[3]} + '; width: 150px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;'">
                <p style="font-weight: 600;">Gender</p>
                <p th:text="${guess.guessedCyclist.gender}" style="font-size: 20px;"></p>
            </div>

            <div th:style="'background-color: ' + ${guess.colors[4]} + '; width: 150px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;'">
                <p style="font-weight: 600;">Specialty</p>
                <p th:text="${guess.guessedCyclist.specialty}" style="font-size: 20px;"></p>
            </div>

            <div th:style="'background-color: ' + ${guess.colors[5]} + '; width: 150px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;'">
                <p style="font-weight: 600;">Nationality</p>
                <p th:text="${guess.guessedCyclist.nationality}" style="font-size: 20px;"></p>
            </div>
        </div>
        <div th:if="${guessHistory != null and won == null and error == null}" style="display: flex; flex-wrap: wrap; justify-content: center; width: 600px; margin: auto; margin-top: 30px; padding-bottom: 10px;">
                <div th:style="'background-color: black; width: 75px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;'">
                    <p>Incorrect</p>
                </div>
                <div th:style="'background-color: #F0C040; width: 75px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;'">
                    <p>Close</p>
                </div>
                <div th:style="'background-color: Green; width: 75px; padding: 10px; margin: 5px; text-align: center; color: white; border-radius: 10px;'">
                    <p>Correct</p>
                </div>
        </div>
    </div>
</div>
    <div th:if="${guessHistory != null and guessHistory.size > 1}">
        <div style="margin-top: 40px; height: 50px; width: 100%; background: linear-gradient(to bottom, #007bbf 0% 20%, #da2430 20% 40%, #111012 40% 60%, #ffed00 60% 80%, #36a73e 80% 100%);"></div>
    </div>
    <style>
    #suggestions {
        position: absolute;
        background-color: white;
        border: none;      
        border-radius: 20px;        
        overflow: hidden;            
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1000;
    }

    #suggestions.visible {
        border: 1px solid #ccc;
        display: block;
    }

    .suggestion-item {
        padding: 8px;
        cursor: pointer;
        border-bottom: 1px solid #eee;
    }

    .suggestion-item:hover {
        background-color: #f5f5f5;
    }

    .suggestion-item:last-child {
        border-bottom: none;
    }
    </style>
    <script th:inline="javascript">
    var playButton = document.getElementById("playButton");
    var splashScreen = document.getElementById("splashScreen");
    if (sessionStorage.getItem("hasPlayed") !== "true") {
        splashScreen.style.display = "flex";
    }

    playButton.addEventListener("click", function() {
        splashScreen.style.opacity = "0";
        setTimeout(function() { splashScreen.style.display = "none";}, 300);
        sessionStorage.setItem("hasPlayed", "true");
    });
    var menubutton = document.getElementById("menubutton");
    var sidebar = document.getElementById("sidebar");
    var closebutton = document.getElementById("closebutton");
    var overlat = document.getElementById("overlay");

    if (sessionStorage.getItem("menuOpen") == "true") {
        sidebar.classList.add("no-transition");
        sidebar.offsetHeight;
        sidebar.classList.add("active");
        overlay.style.display = "flex";
        requestAnimationFrame(function() {
            requestAnimationFrame(function() {
                sidebar.classList.remove("no-transition");
            });
        });
    }   
    menubutton.addEventListener("click", function() {
        sidebar.classList.add("active");
        sessionStorage.setItem("menuOpen", "true");
        overlay.style.display = "flex";
        document.body.style.overflow = "hidden";
    });
    closebutton.addEventListener("click", function() {
        sessionStorage.removeItem("menuOpen");
        sidebar.classList.remove("active");
        overlay.style.display = "none";
        document.body.style.overflow = "";
    });

    var directionsbutton = document.getElementById("directionsbutton");
    var directionsPage = document.getElementById("directionsPage");
    var close2button = document.getElementById("close2button");
    const page1 = document.getElementById("page1");
    const page2 = document.getElementById("page2");

    if (sessionStorage.getItem("directionsOpen") == "true") {
        directionsPage.classList.add("active");
        overlay.style.display = "flex";
    }   
    directionsbutton.addEventListener("click", function() {
        directionsPage.classList.add("active");
        sessionStorage.setItem("directionsOpen", "true");
        overlay.style.display = "flex";
        document.body.style.overflow = "hidden";
        page1.style.display = "block";
        page2.style.display = "none";
    });
    close2button.addEventListener("click", function() {
        directionsPage.classList.remove("active");
        sessionStorage.removeItem("directionsOpen");
        overlay.style.display = "none";
        document.body.style.overflow = "hidden";
    });

    const howtoplaybutton = document.getElementById("howtoplaybutton");
    const attributesbutton = document.getElementById("attributesbutton");

    howtoplaybutton.addEventListener("click", function() {
        page1.style.display = "block";
        page2.style.display = "none";
    });

    attributesbutton.addEventListener("click", function() {
        page1.style.display = "none";
        page2.style.display = "block";
    });

    var cyclists = /*[[${listOfNames}]]*/ [];
    var input = document.getElementById("guessInput");
    var suggestions = document.getElementById("suggestions");
    if (sessionStorage.getItem("hasPlayed") !== "true") {
        splashScreen.style.display = "flex";
    }
    if (input) {
        input.addEventListener("input", function() {
            var text = input.value.toLowerCase();
            suggestions.innerHTML = "";
                
            if (text.length == 0) {
                suggestions.classList.remove("visible");
                return;
            }
            suggestions.classList.add("visible");
            let matches = 0;
            for (var i = 0; i < cyclists.length; i++) {
            if (cyclists[i].toLowerCase().startsWith(text) || 
                cyclists[i].split(" ").some(function(part) { return part.toLowerCase().startsWith(text); })) {
                    var div = document.createElement("div");
                    div.textContent = cyclists[i];
                    div.className = "suggestion-item";
                    div.addEventListener("click", function() {
                        input.value = this.textContent;
                        suggestions.innerHTML = "";
                        suggestions.classList.remove("visible");
                        input.focus();
                    });
                    suggestions.appendChild(div);
                    matches++;
                }
            }
            if (matches > 0) {
                suggestions.classList.add("visible"); // show if matches found
            } else {
                suggestions.classList.remove("visible"); // hide if no matches
            }
            input.addEventListener("keydown", function(e) {
            if (e.key === "Enter" && suggestions.firstChild) {
                input.value = suggestions.firstChild.textContent;
                suggestions.innerHTML = "";
                suggestions.classList.remove("visible");
            }
        });
        });
    }
</script>
 
</body>
<!mvn spring-boot:run>
