<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>PROCYCLE - Daily Cycling Guessing Game</title>
    <link rel="icon" type="image/png" href="/TabLogo.png">
    <link rel="apple-touch-icon" href="/TabLogo.png">
    <meta name="description" content="PROCYCLE - A daily cycling guessing game. Test your professional cycling knowledge!">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;450;500;550;600;650;700;750;800;850;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>


<div id="splashScreen" style="transition: opacity 0.3s ease-in; display: none; flex-direction: column; align-items: center; z-index: 100; padding-top: 75px; width: 100%; height: 100%; margin: auto; position: fixed; background: linear-gradient(white, lightgray); padding-top: -100px">
    <img src="/Logo.png"  style="width: 125px; height: 75px; object-fit: contain; margin: auto; margin-bottom: 0px; margin-top: 0px;">
    <div style="Margin-top: 0px; Margin-bottom: 5px;">
        <h1 style="font-size: 70px; text-align: center; font-weight: 800; letter-spacing: 5px; display: inline; padding-right: 0px;"><span style="color: white; -webkit-text-stroke: 6px black; paint-order: stroke fill;">P</span><span style="color: white; -webkit-text-stroke: 6px black; paint-order: stroke fill;">R</span><span style="color: white; -webkit-text-stroke: 6px black; paint-order: stroke fill;">O</span></h1><h1 style="font-size: 70px; text-align: center; font-weight: 800; display: inline"><span style="color:#007bbf">C</span><span style="color: #da2430">Y</span><span style="color: #111012">C</span><span style="color:#ffed00">L</span><span style="color: #36a73e">E</span></h1>
    </div>
    <p style="margin: 0px; padding-bottom: 3px;font-weight: 550; font-size: 18px; font-family: Nunito, 'Times New Roman', serif;">Can you guess the professional cyclist?</p> 
    <p style="margin: 0px; padding-bottom: 25px; font-weight: 550; font-size: 18px; font-family: Nunito, 'Times New Roman', serif;">Test your knowledge.</p>    
    <button id="playButton" style="text-align: center; border-radius: 40px; height: 50px; font-size: 20px; font-weight: 600; color: white; background-color: black; padding-left: 50px; padding-right: 50px; cursor: pointer;">Play</button>
    <div class="rainbow" style="margin-top: 30px;"></div>
</div>
    <div class="rainbow"></div>



<div style="flex-grow: 1">

    <div style="padding-top: 10px; display: flex; align-items: center; width: 543px; margin: auto;">
        <div id="menubutton" style="display: inline; vertical-align: middle; width: 46.5px;">
            <button style="cursor: pointer; background: none; border: none; margin: 0px;"><img src="/menu.png" style="Height: 30px; Width: 30px; object-fit: contain; padding-top: 4px;"></i></button>
        </div>
        <div style="text-align: center; display: inline; vertical-align: middle; width: 450px;">
            <h1 style="font-size: 60px; text-align: center; font-weight: 800; letter-spacing: 5px; display: inline; padding-right: 0px;"><span style="color: white; -webkit-text-stroke: 6px black; paint-order: stroke fill;">P</span><span style="color: white; -webkit-text-stroke: 6px black; paint-order: stroke fill;">R</span><span style="color: white; -webkit-text-stroke: 6px black; paint-order: stroke fill;">O</span></h1><h1 style="font-size: 60px; text-align: center; font-weight: 800; display: inline"><span style="color:#007bbf">C</span><span style="color: #da2430">Y</span><span style="color: #111012">C</span><span style="color:#ffed00">L</span><span style="color: #36a73e">E</span></h1>
        </div>
        <div id="directionsbutton" style=" display: inline; vertical-align: middle; width: 46.5px;">
            <button style="margin-left: 2px; margin-top: 2px; border-radius: 20px; background-color: black; color: white; cursor: pointer; font-size: 30px; font-weight: 500; height: 40px; width: 40px;">?</button>
        </div>
    </div>

    <hr style="width: 530px; border: 1px solid gray; margin: auto;">

    <div style="display: flex; align-items: center; width: 543px; margin: auto; height: 50px; padding-bottom: 5px;">
        <h2 id="dailyWelcome" class="welcome" th:style="${mode == 'Daily'} ? 'display: inline;' : 'display: none;'">Welcome to The Daily PROCYCLE</h2>
        <h2 id="unlimitedWelcome" class="welcome" th:style="${mode == 'Unlimited'} ? 'display: inline;' : 'display: none;'">Welcome to Unlimited PROCYCLE</h2>
        <div id = "statsbutton" style="display: inline; padding-left: 5px; width: 42px; vertical-align: middle;">
            <button style="cursor: pointer; background: none; border: none; margin: 0px;"><i class="fa-solid fa-chart-simple" style="font-size: 25px; padding-bottom: 5px;"></i></button>
        </div>
    </div>







    <div id="sidebar">
        <button id="closebutton" class="closebutton">&#x2715;</button>
        <div style="padding-top: 5px; padding-bottom: 10px; text-align: center;">
            <button id="homeButton" class="bigButton">Home</button>
        </div>
        <div style="padding-bottom: 10px; text-align: center;">
            <div id="unlimitedButtonDiv" th:style="${mode == 'Daily'} ? 'display: block;' : 'display: none;'">
                <button class="unlimitedButton bigButton">Play Unlimited</button>
            </div>
            <div id="dailyButtonDiv" th:style="${mode == 'Unlimited'} ? 'display: block;' : 'display: none;'">
                <button class="dailyButton bigButton">Play The Daily</button>
            </div>
        </div>
        <div style="text-align: center; padding-bottom: 15px;">
            <a href="https://linktr.ee/theprocycle" target="_blank">
                <button class="bigButton">Follow Us</button>
            </a>
        </div>
        <hr class="grayline" style="width: 500px;">


        <div id="revealSection" style="display: none; text-align: center;">
            <p style="font-size: 15px; margin-bottom: 5px; margin-top: 5px; font-family: Nunito, 'Times New Roman', serif;">Want to give up?</p>
            <div style="padding-bottom: 10px;">
                <button class="revealButton" style="border-radius: 20px; height: 40px; width: 180px; font-size: 20px; font-weight: 600; background-color: black; color: white; padding-left: 15px; padding-right: 15px; cursor: pointer; font-family: Nunito, 'Times New Roman', serif;">Reveal Answer</button>
            </div>
            <hr class="grayline" style="width: 500px;">
        </div>

        <div id="settings" th:style="${mode == 'Unlimited'} ? 'display: block;' : 'display: none;'">
            <p style="font-size: 30px; font-weight: 600; margin: 0px; padding: 0px; padding-top: 10px; font-family: Nunito, 'Times New Roman', serif; text-align: center;">Play Settings</p>
            <div style="text-align: center;">
                <p class="settingTitle">Difficulty</p>
                <div style="display: inline;">
                    <button class="noobButton menu-button">Noob</button>
                </div>
                <div style="display: inline;">
                    <button class="easyButton menu-button">Easy</button>
                </div>
                <div style="display: inline;">
                    <button class="mediumButton menu-button">Medium</button>
                </div>
                <div style="display: inline;">
                    <button class="hardButton menu-button">Hard</button>
                </div>
            </div>
            <div style="text-align: center;">
                <p class="settingTitle">Gender</p>
                <div style="display: inline;">
                    <button class="bothButton menu-button">Both</button>
                </div>
                <div style="display: inline;">
                    <button class="menButton menu-button">Men</button>
                </div>
                <div style="display: inline;">
                    <button class="womenButton menu-button">Women</button>
                </div>
            </div>
            <div style="text-align: center; padding-bottom: 20px;">
                <p class="settingTitle">Guesses</p>
                <div style="display: inline;">
                    <button class="limitedButton menu-button">Ten</button>
                </div>
                <div style="display: inline;">
                    <button class="infiniteButton menu-button">Infinite</button>
                </div>
            </div>
            <hr class="grayline" style="width: 500px;">
        </div>
        <p style="font-size: 25px; text-align: center; margin: 0px; padding-top: 10px; font-family: Nunito, 'Times New Roman', serif;">About</p>
        <p class="menuText" style="margin-top: 10px;">PROCYCLE was heavily inspired by <a href="https://www.spotle.io" target="_blank">Spotle</a> and <a href="https://www.nytimes.com/games/wordle" target="_blank">Wordle</a>.</p>
        <p class ="menuText">PROCYCLE was made to help people learn something about pro cyclists they don't know. The hope is that you take what you learned and use it to become more invested and interested in the riders on your screen when you watch WorldTour bike racing. PROCYCLE is a game that not only tests your cycling knowledge but also grows it.</p>
        <p class="menuText">A big thanks to <a href="https://www.procyclingstats.com" target="_blank">procyclingstats.com</a> for making this game possible through the statistics on their website.</p>
        <hr class="grayline" style="width: 500px;">
        <p class="menuText">Find a bug? Have a suggestions? Let me <a href="mailto:theprocycle@gmail.com" target="_blank">know</a>!</p>
        <hr class="grayline" style="width: 500px;">
        <p class="menuText" style="margin-bottom: 5px;">Next PROCYCLE</p>
        <p style="text-align:center; margin: 0px; font-family: 'Roboto Mono', monospace;"><span id="timer"></span></p>
        <p class="menuText">By Niko Dennis</p>
    </div>












    <div id="directionsPage">
        <button id="close2button" class="closebutton">&#x2715;</button>
        <div style="text-align: center; padding-top: 5px;">
            <button id="howtoplaybutton" class="active-page-btn" style="width: 150px; display: inline; border-radius: 20px; height: 40px; font-size: 20px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; font-family: Nunito, 'Times New Roman', serif;">How to Play</button>
            <button id="attributesbutton" style="width: 150px; display: inline; border-radius: 20px; height: 40px; font-size: 20px; font-weight: 600; padding-left: 15px; padding-right: 15px; cursor: pointer; font-family: Nunito, 'Times New Roman', serif;">Attributes</button>
        </div>
        <div id="page1" style="display: block;">
            <h1 class="directionsTitle" style="text-align: center;">How to Play</h1>
            <div style="margin: 0px; text-align: center; padding-bottom: 10px;"><h2 style="text-align: center; font-weight: 600px; display: inline; font-family: Nunito, 'Times New Roman', serif;">Your Goal:</h2><h2 style="text-align: center; font-weight: 500; display: inline; font-family: Nunito, 'Times New Roman', serif;"> Guess the unkown pro cyclist.</h2></div>
            <p style="text-align: center; font-weight: 500; margin-top: 0px; padding-bottom: 15px; margin-bottom: 0px; font-family: Nunito, 'Times New Roman', serif;">Each guess reveals that cyclist's attributes and compares them to the attributes of the unkown cyclist.</p>
            <hr class="grayline">


            <h2 style="padding-top: 15px; margin: 0px;">Directions</h2>
            <div style="display: flex; align-items: flex-start; margin-top: 0px; padding-top: 15px; padding-bottom: 30px;">
                <span class="directionNums">1</span>
                <div style="height: 50px; padding-left: 15px; display: flex; align-items: center;"><h2 class="directSentence">Search for a cyclist to make your first guess.</h2></div>
            </div>
            <img src="/Guess1.png" style="width: 300px; height: 248px; object-fit: contain; display: block; margin: auto;">
            <div style="display: flex; align-items: flex-start; padding-top: 50px; padding-bottom: 30px;">
                <span class="directionNums">2</span>
                <div style="height: 50px; padding-left: 15px; display: flex; align-items: center;"><h2 class="directSentence">Use the results to inform your next guess.</h2></div>
            </div>
            <img src="/Guess2.png" style="width: 300px; height: 248px; object-fit: contain; display: block; margin: auto;">
            <div style="display: flex; align-items: flex-start; padding-top: 50px; padding-bottom: 30px;">
                <span class="directionNums">3</span>
                <div style="height: 50px; padding-left: 15px; display: flex; align-items: center;"><h2 class="directSentence">Piece together the clues until you guess the cyclist.</h2></div>
            </div>
            <img src="/Guess3.png" style="width: 300px; height: 200px; object-fit: contain; display: block; margin: auto; padding-bottom: 50px;">
            <hr class="grayline">



            <h2 style="padding-top: 15px; margin: 0px; padding-bottom: 15px;">Game Mode</h2>
            <div style="padding-bottom: 20px;"><p style="display: inline">Daily: </p><p class="grayText" style="display: inline">A new cyclist every day. Only tens guesses and could be anyone in the list. The Daily will be different riders everyday until the end of each month, when it will then reset to the full list.</p></div>
            <div style="padding-bottom: 25px;"><p style="display: inline">Unlimited: </p><p class="grayText" style="display: inline">You can practice as many times as you wish. any difficulty, gender, and guess setting.</p></div>
         <hr class="grayline">

            <h2 style="padding-top: 15px; margin: 0px; padding-bottom: 10px;">Difficulty</h2>
            <p class="grayText">Difficulty is based on the number and popularity of cyclists in the game.</p>
            <div style="display: flex; justify-content: center;">
                <div class="diffBox" style="background-color: green;">
                    <p class="difficultyTitle">Noob</p>
                    <p class="diffExpl">20 of the most famous pro cyclists today.</p>
                </div>
                <div class="diffBox" style="background-color: #F0C040;">
                    <p class="difficultyTitle">Easy</p>
                    <p class="diffExpl">About 200 of the most well-known cyclists.</p>
                </div>
                <div class="diffBox" style="background-color: #007bbf;">
                    <p class="difficultyTitle">Medium</p>
                    <p class="diffExpl">About half of the cyclists in the game.</p>
                </div>
                <div class="diffBox" style="background-color: #da2430;">
                    <p class="difficultyTitle">Hard</p>
                    <p class="diffExpl">The entire list. Roughly 1000 cyclists.</p>
                </div>
            </div>
            <p style="color: gray; font-weight: 500; padding-bottom: 20px;">The full breakdown of which cyclists are in the list is available under the attributes tab.</p>
        </div>


        <div id="page2" style="display: none;">
            <div style="text-align: center;">
                <h1 class="directionsTitle">Attributes</h1>
                <p style="font-weight: 600; font-size: 15px; font-family: Nunito, 'Times New Roman', serif;">All cyclist statistics are from <a href="https://www.procyclingstats.com" target="_blank">procyclingstats.com</a>. Thank you PCS!</p>
                <p style="font-weight: 600; font-size: 15px; font-family: Nunito, 'Times New Roman', serif;">All attributes are accurate as of April 2026 and will be updated anually.</p>
            </div>

            <hr class="grayline">

            <h2 class="attTitle">Pro Debut</h2>
                <p class="grayText">The year of the cyclist's first season on a UCI World Tour or UCI ProTeam.</p>
                <div style="display: flex; padding-bottom: 15px;">
                    <div class="legend-box" style="background-color: dimgray;">
                        <p>Incorrect</p>
                    </div>
                    <div class="legend-box" style="background-color: #F0C040;">
                        <p>Within 3 years</p>
                    </div>
                    <div class="legend-box" style="background-color: green;">
                        <p>Correct</p>
                    </div>
                </div>
            <hr class="grayline">
            <h2 class="attTitle">Team</h2>
                <p class="grayText">The cyclist's most recent team. This could be any UCI World Tour team or one of the UCI ProTeams mentioned below.</p>
                <p class="grayText">If instead the cyclist is retired, it will say "retired". If a women's and men's team share a name their comparison will appear green dispite the gender.</p>
                <div style="display: flex; padding-bottom: 15px;">
                    <div class="legend-box" style="background-color: dimgray;">
                        <p>Incorrect</p>
                    </div>
                    <div class="legend-box" style="background-color: green;">
                        <p>Correct</p>
                    </div>
                </div>
            <hr class="grayline">
            <h2 class="attTitle">Wins</h2>
                <p class="grayText">How many pofessional wins the cyclist has achieved. A professional win is a win on UCI .1 level or higher.</p>
                <div style="display: flex; padding-bottom: 15px;">
                    <div class="legend-box" style="background-color: dimgray;">
                        <p>Incorrect</p>
                    </div>
                    <div class="legend-box" style="background-color: #F0C040;">
                        <p>Within 5 wins</p>
                    </div>
                    <div class="legend-box" style="background-color: green;">
                        <p>Correct</p>
                    </div>
                </div>
            <hr class="grayline">
            <h2 class="attTitle">Gender</h2>
                <p class="grayText">The cyclists gender.</p>
                <div style="display: flex; padding-bottom: 15px;">
                    <div class="legend-box" style="background-color: dimgray;">
                        <p>Incorrect</p>
                    </div>
                    <div class="legend-box" style="background-color: green;">
                        <p>Correct</p>
                    </div>
                </div>
            <hr class="grayline">
            <h2 class="attTitle">Specialty</h2>
                <p class="grayText">The cyclists specialty. There are 6 specialties assigned by Pro Cycling Stats: Oneday, GC, Time Trial, Sprint, Climber, and Hills.</p>
                <div style="display: flex; padding-bottom: 15px;">
                    <div class="legend-box" style="background-color: dimgray;">
                        <p>Incorrect</p>
                    </div>
                    <div class="legend-box" style="background-color: green;">
                        <p>Correct</p>
                    </div>
                </div>
            <hr class="grayline">
            <h2 class="attTitle">Nationality</h2>
                <p class="grayText">The cyclist's nationality.</p>
                <div style="display: flex;">
                    <div class="legend-box" style="background-color: dimgray;">
                        <p>Incorrect</p>
                    </div>
                    <div class="legend-box" style="background-color: #F0C040;">
                        <p>Same continent</p>
                    </div>
                    <div class="legend-box" style="background-color: green;">
                        <p>Correct</p>
                    </div>
                </div>
                <p class="grayText" style="padding-top: 15px; ">If the cyclist's nationality is European, then</p>
                <div style="display: flex; padding-bottom: 15px;">
                    <div class="legend-box" style="background-color: dimgray;">
                        <p>Incorrect</p>
                    </div>
                    <div class="legend-box" style="background-color: #F0C040;">
                        <p>Same region</p>
                    </div>
                    <div class="legend-box" style="background-color: green;">
                        <p>Correct</p>
                    </div>
                </div>
                <hr class="grayline">
                <h2 style="padding-top: 10px;">Europe Regions</h2> 
                
                    <div style="padding-bottom: 10px;"><p style="display: inline;">Western Europe:</p><p style="color: gray; font-weight: 500; display: inline;"> Britain, Ireland, France, Belgium, Netherlands, Luxembourg, Monaco, Andorra</p></div>
                    <div style="padding-bottom: 10px;"><p style="display: inline;">Eastern Europe:</p><p style="color: gray; font-weight: 500; display: inline;"> Romania, Bulgaria, Moldova, Ukraine, Belarus, Russia</p></div>
                    <div style="padding-bottom: 10px;"><p style="display: inline;">Southern Europe:</p><p style="color: gray; font-weight: 500; display: inline;"> Spain, Portugal, Italy, San Marino, Malta, Greece, Cyprus, Albania, North Macedonia, Croatia, Bosnia and Herzegovina, Montenegro, Serbia, Kosovo, Andorra</p></div>
                    <div style="padding-bottom: 10px;"><p style="display: inline;">North Europe:</p><p style="color: gray; font-weight: 500; display: inline;"> Denmark, Norway, Sweden, Finland, Iceland, Estonia, Latvia, Lithuania</p></div>
                    <div style="padding-bottom: 20px;"><p style="display: inline;">Central Europe:</p><p style="color: gray; font-weight: 500; display: inline;"> Germany, Austria, Switzerland, Poland, Czech Republic, Slovakia, Hungary, Liechtenstein, Slovenia</p></div>
                
                <hr class="grayline">
                <h2 style="padding-top: 10px;">Which pro cyclists are in the game?</h2>
                <p style="font-weight: 600; font-size: 20px;">The complete list of cyclists includes:</p>
                <p class="listBullet">● Every cyclist from all 18 mens UCI World Tour teams and all 14 womens UCI World Tour teams.</p>
                <p class="listBullet">● Every cyclist from the following mens UCI ProTeams: Tudor Pro Cycling, Cofidis, Pinarello Q36.5 Pro Cycling, and Unibet Rose Rockets.</p>
                <p class="listBullet">● Pro cyclists with more than 10,000 career UCI points who retired after 2020.</p>
                <p class="listBullet">● A few additions on UCI ProTeams that were not included: Jesús Herrada, Fernando Gaviria, Iván Ramiro Sosa, Anthony Turgis, Allison Jackson, and Chris Froome (Not retired but not on a team).</p>
                <p class="listBullet" style="padding-bottom: 20px">● There are roughly 1000 cyclists in the complete list.</p>
        </div>
    </div>





    <div id="statistics">
        <button id="close3button" class="closebutton">&#x2715;</button>
        <div id="dailyStats" style="display: block;">
            <h1 style="text-align: center; font-family: Nunito, 'Times New Roman', serif; font-size: 45px; margin: 0px; padding-top: 15px; padding-bottom: 20px;">Daily Statistics</h1>
            <div id="statsRow" style="display: flex; justify-content: space-around; margin-bottom: 5px;">
                <div class="statbox"><p id="gamesPlayed" class="stat"></p><p class="statlabel">Played</p></div>
                <div class="statbox"><p id="winRate" class="stat"></p><p class="statlabel">Win %</p></div>
                <div class="statbox"><p id="totalWins" class="stat"></p><p class="statlabel">Won</p></div>
                <div class="statbox"><p id="currentStreak" class="stat"></p><p class="statlabel">Current Streak</p></div>
                <div class="statbox"><p id="maxStreak" class="stat"></p><p class="statlabel" style="margin-left: 20px; margin-right: 20px;">Max Streak</p></div>
            </div>
            <hr class="grayline" style="width: 500px;">
            <h1 style="text-align: center; font-family: Nunito, 'Times New Roman', serif; font-size: 30px; margin: 0px; padding-bottom: 10px; padding-top: 15px;">Guess Distribution</h1>
            <div id="guessDistribution"></div>
        </div>


        <div id="unlimitedStats" style="display: none;">
            <h1 style="text-align: center; font-family: Nunito, 'Times New Roman', serif; font-size: 45px; margin: 0px; padding-top: 15px; padding-bottom: 20px;">Unlimited Statistics</h1>
            <div id="statsRow" style="display: flex; justify-content: space-around; margin-bottom: 5px;">
                <div class="statbox"><p id="unlimitedGamesPlayed" class="stat"></p><p class="statlabel">Played</p></div>
                <div class="statbox"><p id="unlimitedWinRate" class="stat"></p><p class="statlabel">Win %</p></div>
                <div class="statbox"><p id="unlimitedTotalWins" class="stat"></p><p class="statlabel">Won</p></div>
            </div>
            <hr class="grayline" style="width: 500px;">
            <h1 style="text-align: center; font-family: Nunito, 'Times New Roman', serif; font-size: 30px; margin: 0px; padding-bottom: 10px; padding-top: 15px;">Guess Distribution</h1>
            <div id="unlimitedGuessDistribution"></div>
        </div>
    </div>








    <div id="overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2); z-index: 50;"></div>

    <div id="difficulties" th:style="${mode == 'Unlimited'} ? 'display: block; text-align: center; padding-bottom: 15px; padding-top: 5px;' : 'display: none; text-align: center; padding-bottom: 15px; '">
        <button class="noobButton menu-button">Noob</button>
        <button class="easyButton menu-button">Easy</button>
        <button class="mediumButton menu-button">Medium</button>
        <button class="hardButton menu-button">Hard</button>
    </div>

    <form id="guessForm" action="/guess" method="post" style="text-align: center; margin: 0px; margin-top: 0px">
        <div style="position: relative; display: inline-block;">
            <input type="text" name="guess" id="guessInput" placeholder="Type a Cyclist..." autocomplete="off" style="border-radius: 20px; height: 40px; font-size: 15px; font-weight: 600; background-color: black; color: white; font-family: Montserrat, sans-serif; padding-left: 15px; box-sizing: border-box; vertical-align: middle; cursor: pointer;"/>
            <div id="suggestions" style="position: absolute; background-color: white; width: 300px; left: 50%; transform: translateX(-50%); z-index: 10; max-height: 200px; overflow-y: auto;"></div>
        </div>
        <button style="font-family: Nunito, 'Times New Roman', serif; border-radius: 20px; height: 40px; font-size: 17px; font-weight: 600; color: white; background-color: green; vertical-align: middle; box-sizing: border-box; padding-left: 15px; padding-right: 15px; cursor: pointer;">Guess</button>
    </form>


    <p id="guessTracker" style="display: block;font-size: 12px; text-align: center; margin: 0px; padding-top: 6px; color: gray"></p>
    

    <!--<div id="dailyIntro" style="text-align: center; display: block;">
        <p style="margin: 0px; padding-top: 25px; font-weight: 550; font-size: 15px; font-family: Nunito, 'Times New Roman', serif;">Guess the cyclist of the day.</p>
        <p style="margin: 0px; padding-top: 20px; padding-bottom: 15px; font-weight: 550; font-size: 15px; font-family: Nunito, 'Times New Roman', serif;">Search for a cyclist to make your first.</p>
    </div>-->

    
    <p id="errorMessage" style="color: red; text-align: center; display: none;"></p>
    <p id="repeatMessage" style="text-align: center; display: none;"></p>


    <div id="wonMessage" style="display: none;">
        <h3 class="endMessage" style="color: green">YOU WON!</h3>
        <div style="text-align: center; font-size: 20px; margin-top: 0px; font-weight: 750;"><p style="display: inline;">In </p><p id="guessCountText" style="display: inline;"></p><p style="display: inline;"> guesses.</p></div>
        <p id="guessCountText" style="text-align: center; font-size: 20px; margin-top: 0px; font-weight: 750;"></p>
        <div style="text-align: center;">
                <button class="unlimitedButton bigButton">Play Unlimited</button>
        </div>
        <div id="shareButtonSection"style="text-align: center; padding-top: 10px;">
                <button class="shareButton bigButton">Share <i class="fa-solid fa-share-nodes"></i></button>
                <div id="copyMessage" >Results copied to clipboard!</div>
        </div>
    </div>


    <div id="revealedMessage" style="display: none;">
        <h3 class="endMessage" style="color: red; padding-bottom: 10px;">You lost.</h3>
        <div style="text-align: center;">
                    <button class="unlimitedButton bigButton">Play Unlimited</button>
        </div>
        <div style="display: flex; flex-wrap: wrap; justify-content: center; width: 600px; margin: auto; margin-top: 0px; margin-bottom: 20px;">
            <p id="revealedName" style="font-size: 35px; font-weight: 700; color: black; margin-bottom: 25px; width: 100%; text-align: center;">Name</p>
            <div class="revealed-tile tile"> 
                <p class="label">Pro Debut</p>
                <p id="revealedProDebut" class="value"></p>
            </div>
            <div class="revealed-tile tile">
                <p class="label">Team</p>
                <p id="revealedTeam" style="margin-top: 0px; font-size: 20px;"></p>
            </div>
            <div class="revealed-tile tile">
                <p class="label">Pro Wins</p>
                <p id="revealedWins" class="value"></p>
            </div>
            <div class="revealed-tile tile">
                <p class="label">Gender</p>
                <p id="revealedGender" class="value"></p>
            </div>
            <div class="revealed-tile tile">
                <p class="label">Specialty</p>
                <p id="revealedSpecialty" class="value"></p>
            </div>
            <div class="revealed-tile tile">
                <p id="revealedFlag" style="margin-bottom: 5px; margin-top: 10px;">Nationality</p>
                <p id="revealedNationality" style="font-size: 20px; margin-top: 0px; margin-bottom: 5px; font-weight: 600;"></p>
            </div>
        </div>
    </div>


    <div id="guessContainer"></div>


    <div  id="legend" style="display: none; flex-wrap: wrap; justify-content: center; width: 600px; margin: auto; margin-top: 30px; padding-bottom: 10px;">
        <div class="mainLegend" style="background-color: dimgray;">
            <p>Incorrect</p>
        </div>
        <div class="mainLegend" style="background-color: #F0C040;">
            <p>Close</p>
        </div>
        <div class="mainLegend" style="background-color: Green;">
            <p>Correct</p>
        </div>
    </div>
</div>
    <div id="bottomBorder" style="display: none;">
        <div class="rainbow" style="margin-top: 40px;"></div>
    </div>



<script th:inline="javascript">
    let guessMode = /*[[${guessMode}]]*/ '';
    let gameMode = /*[[${mode}]]*/ '';
    var cyclists = /*[[${listOfNames}]]*/ [];
    let genderMode = /*[[${genderMode}]]*/ '';
    let difficulty = /*[[${difficulty}]]*/ '';
    var initialGuesses = /*[[${guessHistory}]]*/ [];
    let won = /*[[${won}]]*/ false;
    let revealed = /*[[${revealed}]]*/ false;
    let revealedName = /*[[${revealedName}]]*/ '';
    let revealedDebut = /*[[${revealedDebut}]]*/ '';
    let revealedTeam = /*[[${revealedTeam}]]*/ '';
    let revealedWins = /*[[${revealedWins}]]*/ 0;
    let revealedGender = /*[[${revealedGender}]]*/ '';
    let revealedSpecialty = /*[[${revealedSpecialty}]]*/ '';
    let revealedNationality = /*[[${revealedNationality}]]*/ '';
</script>
<script src="/script.js"></script>
<!--fuser -k 8080/tcp-->
</body>
